* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "exo 2";
  text-align: center;
  height: 100vh;
  position: relative;
  background: rgb(34, 193, 195);
  background: linear-gradient(to bottom, #02b5b1, #03b39f);
  color: #fff;
}
.bg {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  right: 50%;
  width: 100%;
}
img {
  width: 2rem;
  vertical-align: middle;
}
p span {
  font-size: 2rem;
  margin-left: 0.3rem;
  font-weight: 500;
  vertical-align: middle;
}
